<mat-toolbar color="primary">
  <mat-toolbar-row>

    <mat-button-toggle-group
      [(ngModel)]="selectedCategory"
      (change)="onCategoryChange($event)"
      appearance="legacy"
      name="fontStyle"
      aria-label="Font Style"
    >
      <mat-button-toggle *ngFor="let category of categories" [value]="category.name">
        <mat-icon>{{ category.icon }}</mat-icon>
        <span>{{ category.name }}</span>
      </mat-button-toggle>

    </mat-button-toggle-group>
  </mat-toolbar-row>
</mat-toolbar>
