.mat-toolbar-row {
  display: flex;
}

/* .mat-toolbar {
  display: flex;
  justify-content: center;
  align-items: center;
} */
.mat-toolbar-row,
.mat-toolbar-single-row {
  justify-content: center;
}

.mat-button-toggle {
  font-size: 0.8em;
  background-color: white;
  color: #000;
}

.mat-button-toggle:hover {
  background-color: transparent;
  /* color: #909090 !important;     */
}

.mat-button-toggle-checked {
  background-color: #989898;
  color: #ffffff !important;
}

@media (max-width: 860px) {
  mat-button-toggle span {
    display: none;
  }
}