<mat-toolbar color="primary" *ngIf="isAuthenticated">
  <mat-toolbar-row>
    <img src="./assets/news_logo.png" alt="logo" width="100" />
    <!-- <span *ngIf="windowInnerWidth > 768">News Categories</span> -->
    <mat-divider [vertical]="true"></mat-divider>


  <app-submenu></app-submenu>
  
  <span
  *ngIf="authService.isLoggedIn"
  class="material-symbols-outlined"
  (click)="authService.SignOut()"
  >
  <mat-icon
  aria-hidden="false"
  aria-label="Example home icon"
  fontIcon="logout"
  id="logout"
  ></mat-icon>
  logout
</span>
</mat-toolbar-row>
</mat-toolbar>


