<mat-toolbar color="primary">
  <mat-toolbar-row>
    <img src="./assets/news_logo.png" alt="logo" width="100" />
    <!-- <span *ngIf="windowInnerWidth > 768">News Categories</span> -->
    <mat-divider [vertical]="true"></mat-divider>


  <app-submenu></app-submenu>
  
  <span
  *ngIf="authService.isLoggedIn"
  class="material-symbols-outlined"
  (click)="authService.SignOut()"
  >
  <mat-icon
  aria-hidden="false"
  aria-label="Example home icon"
  fontIcon="logout"
  id="logout"
  ></mat-icon>
  logout
</span>
</mat-toolbar-row>
</mat-toolbar>


<!-- <mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      <mat-icon>search</mat-icon>
      Search
    </mat-panel-title>
  </mat-expansion-panel-header>
  <app-search></app-search>
</mat-expansion-panel> -->