.theHeader {
    color: #00ff41;
    font-family: 'Libre Baskerville', serif !important;
    text-align: center;
    background-image: url("/assets/header.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 20px;
    margin: 0;
  }
  
small {
    font-style: italic;
}

.header {
    background-color: #000;
    color: #00ff41;
    text-align: center;
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
}

p {
    margin: 0;
    padding: 0;
}

