<div class="container">
  <mat-card class="login-card" @myInsertRemoveTrigger>
    <img src="./assets/infohub_logo.png" alt="logo" width="400" />
    <mat-card-header>
      <h2>Login</h2>
      <mat-form-field class="example-full-width">
        <mat-label>Username</mat-label>
        <input matInput type="text" #userName />
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Password</mat-label>
        <input matInput type="password" #userPassword />
      </mat-form-field>
    </mat-card-header>
    <mat-card-content>
      <mat-divider></mat-divider>
    </mat-card-content>
    <mat-card-actions>
      <button
        mat-raised-button
        color="primary"
        (click)="
          authService.show();
          authService.SignIn(userName.value, userPassword.value)
        "
      >
        Login
      </button>
    </mat-card-actions>
    <mat-card-footer>
      <span>
        Or
        <span class="forgotPassword" routerLink="/forgot-password"
          >Forgot Password?</span
        >
      </span>
      <span>
        Don't have an account?
        <span class="SignUp" routerLink="/register">Sign Up</span>
      </span>
      <mat-progress-bar
        *ngIf="authService.isLoading$ | async"
        mode="indeterminate"
      ></mat-progress-bar>
    </mat-card-footer>
  </mat-card>
</div>
