body, * {
  margin: 0;
  padding: 0;
}

.container {
  /* border: 2px solid blue; */
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  display: block;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
}

h2 {
  text-align: center;
}

.login-card {
  width: 400px;
  padding: 0;
}

button {
  display: block;
  margin: 0 auto;
}

.mat-mdc-card-header {
  display: flex;
  flex-direction: column;
}

.forgotPassword,
.SignUp {
  text-align: center;
  color: #4dd5fe;
  font-size: 14px;
  cursor: pointer;
  margin-top: 10px;
}
