<div class="container">
  <mat-card @myInsertRemoveTrigger class="displayTableCell">
    <mat-card-content class="authBlock">
      <h3>Thank You for Registering</h3>
      <div class="formGroup" *ngIf="authService.userData as user">
        <p class="text-center">
          We have sent a confirmation email to <strong>{{ user.email }}</strong
          >.
        </p>
        <p class="text-center">
          Please check your email and click on the link to verify your email
          address.
        </p>
      </div>

      <div class="button">
        <button
          type="button"
          mat-raised-button
          color="primary"
          (click)="authService.SendVerificationMail()"
        >
          <i class="fas fa-redo-alt"></i>
          Resend Verification Email
        </button>
      </div>
    </mat-card-content>
    <mat-card-footer class="redirectToLogin">
      <span
        >Go back to?
        <span class="redirect" routerLink="/login"> Sign in</span></span
      >
    </mat-card-footer>
  </mat-card>
</div>