<div class="container">
  <mat-card class="login-card">
    <mat-card-header>
      <h2>Register</h2>
      <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input matInput type="email" #userEmail />
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Password</mat-label>
        <input matInput type="password" #userPwd />
      </mat-form-field>
    </mat-card-header>
    <mat-card-content>
      <mat-divider></mat-divider>
    </mat-card-content>
    <mat-card-actions>
      <button
        mat-raised-button
        color="primary"
        (click)="
          [
            authService.show(),
            authService.SignUp(userEmail.value, userPwd.value)
          ]
        "
      >
        Sign Up
      </button>
    </mat-card-actions>
    <mat-card-footer>
      <span
        >Already have an account?
        <span class="redirect" routerLink="/login">Log In</span></span
      >
    </mat-card-footer>
    <mat-progress-bar
      *ngIf="authService.isLoading$ | async"
      mode="indeterminate"
    ></mat-progress-bar>
  </mat-card>
</div>
