<mat-toolbar>
  <mat-button-toggle-group [(ngModel)]="selectedCategory" (change)="onCategoryChange($event)">
    <mat-button-toggle *ngFor="let category of categories" [value]="category.name" (click)="newsService.show(category.name)">
      <!-- <mat-icon>{{ category.icon }}</mat-icon> -->
      <span>{{ category.name }}</span>
    </mat-button-toggle>
  </mat-button-toggle-group>

  <span *ngIf="authService.isLoggedIn" class="material-symbols-outlined" (click)="authService.SignOut()">
    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="logout" id="logout"></mat-icon>
    logout
  </span>

  <!-- <div class="api">
    <p>Powered by:</p>
    <a href="https://newsapi.org/" target="_blank">
      <img src="./assets/news_logo.png" alt="logo" width="100" />
    </a>
  </div> -->
</mat-toolbar>
