mat-toolbar {
  font-size: 15px !important;
  padding: 0;
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  border: none;
}

mat-button-toggle-group {
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  height: 2rem;
}

mat-button-toggle:hover {
  background-color: #ced4da;
}

.material-symbols-outlined {
  margin-top: 10px;
  cursor: pointer;
  margin: 0 auto;
}

.mat-toolbar-single-row {
  height: auto;
  padding: 0 1rem;
}

.api,
p,
a,
img {
  font-size: 10px;
  margin: 0 auto;
  padding: 0;
}

.logout {
  display: flex;
  justify-content: center;
}
