  <p>
    <mat-toolbar color="primary">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <h1>InfoHub News: </h1>
    <span>Bringing the World to Your Screen</span>

      <span class="example-spacer"></span>
      
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
      
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
      </button>

    </mat-toolbar>
  </p>






  <!--   
  <mat-toolbar *ngIf="isAuthenticated">
    <mat-toolbar-row>
      
  
      <mat-divider [vertical]="true"></mat-divider>
  
      
      
      <span
        *ngIf="authService.isLoggedIn"
        class="material-symbols-outlined"
        (click)="authService.SignOut()"
      >
        <mat-icon
          aria-hidden="false"
          aria-label="Example home icon"
          fontIcon="logout"
          id="logout"
        ></mat-icon>
      </span>
  
    </mat-toolbar-row>
  </mat-toolbar>
   -->