h1,
h2, h3 {
  margin-top: 1rem;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: #0a3161;
  padding: 1vh;
  margin: 0;
}

h3 #searchTitler {
  margin: 0 auto;
}

.news-list {
  margin: 0 auto;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

mat-card {
  width: 15em;
  height: 12rem;
  overflow: hidden;
  margin: 10px;
  padding: 10px;
  background-color: #d1d7dc;
  flex: 0 0 calc(25% - 20px);
  margin-bottom: 20px;
}

mat-card-header {
  display: flex;
  flex-direction: column;
}

mat-card-content {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

mat-icon {
  align-items: center;
  justify-content: flex-end;
  text-align: center;
}

.cardButton {
  margin: 0 auto;
  background-color: #003566;
  padding: 5px 10px;
  text-decoration: none;
  border: none;
  color: #d1d7dc !important;
}

#subtitler {
  color: #000 !important;
  font-weight: bolder;
}
.cardButton:hover {
  background-color: #d90429;
}

.searchInput {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 40%;
}
.goBackButton {
  margin: 0 auto;
  width: 40%;
}