<div class="searchInput">
  <h2>Search by keyword</h2>
  <mat-form-field appearance="outline">
    <mat-label>Type a keyword to find</mat-label>
    <!-- <input matInput (input)="onFilterChange($event.target?.value)" placeholder="Search"> -->
    <input matInput (input)="onFilterChange($event)" />
    <mat-icon matSuffix>search</mat-icon>
    <mat-hint>can use AND / OR / NOT keywords</mat-hint>
  </mat-form-field>
  <br />
  <button
    mat-button
    (click)="goBackToTopHeadlines()"
    class="cardButton goBackButton"
  >
    <mat-icon aria-hidden="false" aria-label="icon">arrow_back</mat-icon>
    <span>Go Back</span>
  </button>
  <br />
</div>

<mat-divider></mat-divider>

<h2 id="searchTitler">Your Search Results</h2>
<div class="news-list">

  <mat-card *ngFor="let article of searchResults" class="searchResults">
    <!-- <mat-card-header>
            <mat-card-title>{{ article.title }}</mat-card-title>
          </mat-card-header> -->
    <mat-card-header>
      <mat-card-title>
        <h3>
          <a id="subtitler" target="_blank" href="{{ article.url }}">{{
            article.title
          }}</a>
        </h3>

        <p>{{ article.description }}</p>
      </mat-card-title>
    </mat-card-header>

    <mat-card-content id="actions">
      <!-- <mat-card-actions>
        <a mat-button [href]="article.url" target="_blank" class="cardButton">
            <mat-icon aria-hidden="false" aria-label="icon" fontIcon="launch"></mat-icon>
            Open
        </a>
      </mat-card-actions> -->

      <a mat-button [href]="" target="_blank" class="cardButton">
        <mat-icon
          aria-hidden="false"
          aria-label="icon"
          fontIcon="thumb_up"
        ></mat-icon>
      </a>

    </mat-card-content>
  </mat-card>
  <mat-divider></mat-divider>
</div>
