<div class="news-list">
  <!-- <app-submenu (categoryChanged)="onCategoryChanged($event)"></app-submenu> -->
  <!-- <app-search></app-search> -->
  <mat-card-title id="topHeadlinesTitle">
    <h1 class="h1Headlines">Top Headlines</h1>
    <h2 class="h2Headlines">{{ selectedCategory }}</h2>
  </mat-card-title>

  <div class="category-selector"></div>

  <div class="news-items">
    <mat-card *ngFor="let article of headlines" class="news-item">
      <mat-card-header>
        <mat-card-title>{{ article.title }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>{{ article.description }}</p>
      </mat-card-content>

      <mat-card-content id="actions">
        <mat-card-actions>
          <a mat-button [href]="article.url" target="_blank" class="cardButton">
            <mat-icon
              aria-hidden="false"
              aria-label="icon"
              fontIcon="launch"
            ></mat-icon>
            Open</a
          >
        </mat-card-actions>

        <mat-card-actions>
          <a mat-button [href]="" target="_blank" class="cardButton">
            <mat-icon
              aria-hidden="false"
              aria-label="icon"
              fontIcon="thumb_up"
            ></mat-icon>
            Like
          </a>
        </mat-card-actions>
      </mat-card-content>
    </mat-card>
    <mat-divider></mat-divider>
  </div>
</div>
