h1,
h2 {
  margin-top: 1rem;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: white;
  padding: 1vh;
  margin: 0;
}

.h1Headlines {
  background-color: #0a3161;
  font-size: 2.5vw;
}

.h2Headlines {
  background-color: #d90429;
}

.news-list {
  margin: 0 auto;
  width: auto;
}

.news-items {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

mat-card {
  width: 20em;
  height: 25rem;
  overflow: hidden;
  margin: 10px;
  padding: 10px;
  background-color: #d1d7dc;
  flex: 0 0 calc(20% - 20px);
  margin-bottom: 20px;
}

#snapshotImg {
  width: 100%;
}

#actions {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.cardButton {
  background-color: #003566;
  padding: 5px 10px;
  text-decoration: none;
  border: none;
}

/* a {
    color: white !important;
} */
#subtitler {
  color: #000 !important;
  font-weight: bolder;
  /* text-decoration: none; */
  font-size: 15px;
  padding: 0;
  margin: 0;
}

.cardButton:hover {
  background-color: #d90429;
}

#articleDescription,
#articlePublished {
  font-size: 12px;
  padding: 0;
  margin: 0;
}
