<div class="news-list">
  <mat-card-title id="topHeadlinesTitle">
    <h1 class="h1Headlines">Top Headlines: <small>{{ selectedCategory }}</small></h1>
    <mat-divider class="custom-divider"></mat-divider>
  </mat-card-title>

  <div class="news-items">
    <mat-card *ngFor="let article of headlines" class="news-item">
      <a href="{{ article.url }}" target="_blank">
        <div class="image-container">
          <img
            src="{{ article.urlToImage ? article.urlToImage : defaultImage }}"
            alt="img"
            id="snapshotImg"
          />
        </div>
      </a>
      <mat-card-header>
        <mat-card-title>
          <h3>
            <a id="subtitler">{{ article.title }}</a>
          </h3>
          <!-- <p id="articleDescription">{{ truncatedText(article.description) }}</p> -->
          <p id="articlePublished">
            <em>{{ article.publishedAt }}</em>
          </p>
        </mat-card-title>
      </mat-card-header>
      <a [href]="" target="_blank" class="like" (click)='likedArticle(article.url)'>
        <mat-icon style="font-size: 20px;" aria-hidden="false" aria-label="icon" fontIcon="favorite"></mat-icon>
      </a>
    </mat-card>
    <mat-divider></mat-divider>
  </div>
</div>
